<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
  
  <header>
    <h1>SC2Builds</h1>
  </header>

  <div id="app-container"></div>

  <script src="/js/app.bundled.js"></script>
</body>
</html>